input.ng-invalid.ng-touched {
    border-color: #dc3545;
  }

  input.ng-valid{
    border-color: rgb(3, 182, 3);
  }

.is-invalid{
    border:1px solid #dc3545;
    border-radius:4px;
}

.is-valid{
  border:1px solid rgb(3, 182, 3);
  border-radius:4px;
}

.form-control[readonly]{
  background-color: transparent;
}