<div class="card">
    <div class="card-body">
        <div class="row justify-content-between align-items-center mb-1">
            <div class="col-4">
                <h5 class="card-title">Users list</h5>
            </div>
            <div class="row row-4 justify-content-end">
                <div class="col">
                    <input class="form-control" placeholder="Search" type="text" (keyup)="updateFilter($event)">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" routerLink="user-management">Create new
                        user</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <ngx-datatable #table class="material" [rows]="rows" [columns]="columns" [headerHeight]="50"
                    rowHeight="auto" [footerHeight]="50" [limit]="10" [columnMode]="ColumnMode.force">
                    <ngx-datatable-column name="First Name" prop='firstname'>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Last Name" prop='lastname'>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Username" prop='username'>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Email" prop='email'>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Role" prop='role'>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Birthday" prop='birthday'>
                        <ng-template let-value="birthday" ng-datatable-cell-template>
                            {{birthday | date:'ymd'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="" sortable="false" prop="id">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button type="button" class="btn btn-link" routerLink="user-management/{{value}}">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" class="btn btn-link" (click)="openConfirmationDialog(value)">
                                <i class="material-icons">delete</i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>